body{
  background-color:#6969FF;
}

#thecat{
  border-radius: 50%;
  border-top: 20px dashed blue;
  border-right: 30px solid red;
  border-bottom: 10px;
  border-left: 40px dashed papayawhip;
}
#swiggityswag{
  font-family:Impact;
  font-size:20px;
  background-color:#6699FF;
}

li{
  color:papayawhip;
}

.klas{
  background-image: url('http://www.shindigz.com/images/itm_img/11SZBLMSCC.jpg');
  font-family:"Comic Sans MS"
}
