#vidcontainer{
	align:center;
}

#cupkake{
	align:center;
}

h1{
	text-align:center;
}
#sect{

}

#p{
	color:darkgoldenrod;
	text-align:center;
}
#sect1{
	background-color:#af7a4c;
	border-radius:5%;
}

#p1{
color:#f4a214;
text-align:center;
}
#sect2{
	border-radius:5%;
	background-color:#925e3c;
	width:50%;

}
#p2{
	color:#c76741;
	text-align:center;

}
